h1 {
  border: 2px solid #ccc;
  text-align: center;
  font-family: Helvetica, Arial;
  letter-spacing: 2px;
}

.mta-title {
  color: #FFFFFF;
  font-size: 2.5em;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
  border-radius: 15px;
}

.navbar:hover {
  color: #FFFFFF;
  transition: 0.5s;

}

.navigationWrapper {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #3b7efa;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  width: flex;
  


  .logoWrapper {
    display: flex;

    .stylish {
      font-weight: bold;
      font-size: 2rem;
    }

    .logo {
      padding-left: 0.25rem;
      padding-top: 1rem;
      font-size: 1rem;
      color: #fa8282;
      font-weight: bold;
    }
  }

  .navigation {
    display: flex;


    li {
      opacity: 1;
      list-style-type: none;
      font-size: medium;
      color: white;
      text-decoration: none;
      transition: all 0.1s ease-in-out;
      border-right: solid #dbd9d9;
      padding: 5px;

      &:hover {
        background-color: rgb(56, 98, 238);
      }

    }


    .link {
      position: relative;
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      color: white;
      padding: 0 10px;
      cursor: pointer;
    }


    .subnavigation {
      display: none;
      list-style-type: none;
      width: 500px;
      position: absolute;
      top: 40%;
      left: 25%;
      margin: auto;
      transition: all 0.3s ease-in-out;
      background-color: #222;

      li a {
        font-size: 17px;
        padding: 0 5px;
      }
    }
  }
}